.track-match{
  display: none;
  font-size: 14pt;
  font-family: sans-serif;
  border-radius: solid #00b3b4 ;
}

.jumbotron{
  text-decoration-color: #00b3b4;
  background-color: #00b3b4;
}

.top-nav{
  justify-content: end;
}

.well{
  background-color: #969696
}

#head-img{
  display: inline;

}

.track-img{
  border-radius: 10px;
  display: inline;
  padding-bottom: 10px;
}

footer{
  background-color: black;
}

#underlineh3{
  text-decoration: underline;
}

@media all and (min width 768px){

}
